<g:each in="${posts}" var="post">
    <li>
        <span class="text-notification">${post.title} <g:link mapping="projectShow"  params="${post.project.encodeAsLinkProperties()}">${post.project.hashtag}</g:link></span>
        <ul class="actions">
            <postUtil:ifPostIsDeletable post="${post}">
                <li><g:link mapping="postDelete" params="${post.encodeAsLinkProperties()}"><g:message code="profile.profileMyPosts.post.delete"/></g:link></li>
            </postUtil:ifPostIsDeletable>
            <postUtil:ifPostIsEditable post="${post}">
                <li><g:link mapping="postEdit" params="${post.encodeAsLinkProperties()}"><g:message code="profile.profileMyPosts.post.edit"/></g:link></li>
            </postUtil:ifPostIsEditable>
            <li><g:link mapping="postShow" params="${post.encodeAsLinkProperties()}"><g:message code="profile.profileMyPosts.post.show"/></g:link></li>
        </ul>
    </li>
</g:each>