
# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
/.idea
*.iml
/kuorum-grailsPlugins.iml
/.sonar
/.slcache
/.gradle

# Config files
/src/java/development_config.properties
/src/java/test_config.properties
/src/java/production_config.properties
/src/java/preproduction_config.properties
/src/java/salenda_config.properties
/src/java/aws_config.properties

covertura.ser

# logs
/stacktrace.log
/test/reports
/logs
/null

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target
/out

# other
*.iws

#Images testing kuorum
/images
