
# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
/.idea
*.iml
/kuorum-grailsPlugins.iml
/.sonar
/.slcache
/.gradle

#This files have appeared changed after configuring out the intellij ultimate version
#Some of them might not be needed to add them to .gitignore
.gitattributes
build.gradle
gradle/
gradlew
gradlew.bat
kuorum.ipr
production/
settings.gradle


# Config files
/src/java/development_config.properties
/src/java/test_config.properties
/src/java/production_config.properties
/src/java/preproduction_config.properties
/src/java/salenda_config.properties
/src/java/aws_config.properties

/src/java/Config_aws.groovy
/src/java/Config_development.groovy

covertura.ser

# logs
/stacktrace.log
/test/reports
/logs
/null

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target
/out

# other
*.iws

#Images testing kuorum
/images

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
