<!-- HEADER FALSO CONECTADO -->
<header id="header" role="banner">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <g:render template="/layouts/brandAndLogo" model="[disabledLogoLink:'disabled']"/>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <g:include controller="layouts" action="userHeadNoLinks"/>
        </div><!-- /.container-fluid -->
    </nav>

</header>