<aside id="karma">
    <button type="button" class="close"><span class="fa fa-times-circle-o fa"></span><span class="sr-only">Cerrar</span></button>
    <h1>Yeahh!!!</h1>
    <ul class="karma clearfix">
        <li id="karmaEggs">
            <span class="icon-Flaticon_17919 fa-3x"></span>
            <span class="counter">+0</span>
        </li> <!-- el li con clase active aparecerá en color -->
        <li id="karmaCorn">
            <span class="icon-Flaticon_20188 fa-3x"></span>
            <span class="counter">+0</span>
        </li>
        <li id="karmaPlumes">
            <span class="icon-Flaticon_24178 fa-3x"></span>
            <span class="counter">+0</span>
        </li>
    </ul>
    <h2>Gracias por tu impulso</h2>
    <p>Fulanito está mas cerca de hacer llegar su propuesta mas y mas lejos y tú acabas de sumar a tu perﬁl nuevas recompensas que te servirán para ser mas especial en kuorum.
        <br>
        <span class="cl-ntral-xdark">¡Sigue así!</span>
    </p>
    <g:link mapping="toolsKuorumStore" class="pull-right">Ver tus recompensas</g:link>
</aside><!-- /#karma -->