
<div class="form-group">
    <formUtil:selectDomainObject command="${command}" field="region" values="${regions}" />
</div>

<div class="form-group">
    <formUtil:input command="${command}" field="name"/>
</div>