
.kuorum-upload-multi-image .qq-uploader {z-index: 0}
.kuorum-upload-multi-image .qq-upload-drop-area {z-index: 0}
.kuorum-upload-multi-image .qq-upload-button, .kuorum-upload-multi-image .btn {z-index: 1}
.kuorum-upload-multi-image .qq-upload-list {display: block;}
.kuorum-upload-multi-image .qq-upload-list li {z-index: 1}
.kuorum-upload-multi-image .qq-images-uploaded-arrow {position:relative; z-index: 1; display: inline-block; top:10px;margin:0 10px;}
.kuorum-upload-multi-image a.images-uploaded-action {z-index: 1; position: relative; color:#a8a8a8; cursor: pointer;}