/* Typography =========== */
/* ====================================================== */
h4{
    font-variant: small-caps;
    color: #333333;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}
cite{
    font-size: 18px;
    color: #a8a8a8;
    font-weight: lighter;
    display: block;
    margin-top: 0px;
    margin-bottom: 3px;
}
p{
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}
a{
    color: #e3981e;
    font-size: 14px;
}
a:hover{
    color: #e3981e;
}
.text-warning{
    color: #e3891e
}
.text-success{
    color:#00c746;
}
.text-danger{
    color:#ff0000;
}
/* Buttons =========== */
/* ====================================================== */
.btn-primary{
    background-color: #1e84e3;
    /*background-color: #20a2ea;*/
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-shadow: 0 0 1px #fff;
    display: inline-block;
    padding: 3px 14px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
    text-decoration: none;
}
.btn-primary:hover{
    /*background-color: #176ab7;*/
    background-color: #2e6bab;
}
.btn-sm{
    font-size: 14px;
}
/* Global Layout =========== */
/* ====================================================== */



/*Panel*/
.panel{
    margin-bottom: 24px;
}
.panel-default{
    border-radius: 0;
    border-color: #dadada;
    box-shadow: 0 0 2px rgba(200,200,200,0.6)
}
#obama-header{
    min-height: 285px;
    width: 100%;
    background-size: cover;
}
.profile-pic {
    position: relative;
    float: left;
}
.profile-pic .img-circle {
    width: 144px;
    height: 144px;
    border: solid 5px #fff;
    margin-top: -65%;
}
.profile-pic .fa-check {
    position: absolute;
    bottom: 0px;
    right: 7px;
    background-color: #1e84e3;
    border-radius: 100%;
    border: #fff solid 3px;
    height: 40px;
    width: 40px;
    color: #fff;
    font-size: 16px;
    padding-top: 9px;
    text-align: center;
}

.profile-title{
    margin-left: -25px;
}
.profile-title h2{
    margin-top: 0;
    margin-bottom: 6px;
}
.following{
    text-align: right;

}
.following .fa-check-circle-o{
    margin-top: 10px;
    margin-right: 6px;
    font-size: 16px;
}
@media (max-width: 767px){
    #obama-header{
        min-height: 200px;
    }
    .profile-title{
        float: left;
        margin-left: 0px;
    }
    .profile-pic-col{
        text-align: center;
        margin-bottom: 10px;
    }
    .profile-pic{
        width: 96px;
        float: none;
    }
    .profile-pic .img-circle{
        width: 96px;
        height: 96px;
        border: solid 3px #fff;
    }
    .profile-pic .fa-check{
        font-size: 10px;
        width: 24px;
        height: 24px;
        padding-top: 4px;
        border: #fff solid 2px;
    }
    .profile-title h2{
        font-size: 24px;
        margin-bottom: 3px;
    }
    .following{
        text-align: right;
        font-size: 12px;
    }

    cite{
        font-size: 14px;
        margin-bottom: 0px;
    }
    p.party{
        font-size: 12px;
    }
}
p.party{
    margin-bottom: 5px;
}
.extra-padding{
    padding: 0 45px;
}
@media only screen and (max-width: 767px){
    .extra-padding{
        padding: 0 5px;
    }

}
.causes-tags{
    padding: 0;
    margin-bottom: 20px;
}
.causes-tags li{
    display: inline-block;
    background: #e3981e;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0px 10px 10px 0;
}
.causes-tags li:hover,
.causes-tags li:active,
.causes-tags li:focus{
    background-color: #b77a17;
}
.causes-tags li a{
    font-size: 14px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.4px;
    color: #fff;
}
.causes-tags li a:hover,
.causes-tags li a:focus,
.causes-tags li a:active{
    text-decoration: none;
}
@media screen and (max-width: 767px){
    .causes-tags li{
        padding: 1px 6px;
    }
    .causes-tags li a{
        font-size: 12px;
    }
}
.known-for{
    padding: 0;
    margin-bottom: 20px;
}
.known-for li{
    display: inline-block;
    margin-bottom: 6px;
}

.panel-default > .panel-heading{
    background-color: #666;
    color: #fff;
    border-radius: 0;
    border: none;
}
.panel-default > .panel-heading .panel-title{
    font-size: 18px;
    font-family: 'Georgia';
    letter-spacing: 0.4px;
    font-weight: normal;
}
.panel-default .panel-body h3{
    margin: 5px 0 30px;
    font-style: italic;
    line-height: 30px;
    color: #666;
    margin-bottom: 24px;
}
.panel-default .btn-lg{
    width: 75%;
    margin-bottom: 15px;
}
.card-header{
    position: relative;
}
.panel-default .btn.follow{
    float: right;
    position: absolute;
    bottom: 16px;
    right: 20px;
    width: 146px;
    height: 34px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.btn.follow .fa-plus{
    margin-left: 3px;
}
.share-buttons {
    background-color: #333;
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 24px;
}
.share-buttons li {
    float: left;
    margin-left: 20px;
    list-style-type: none;
    padding: 10px 0;
}
.share-buttons li a {
    color: #fff;
}
.share-buttons li a i{
    font-size: 24px;
}
.share-buttons li a i:hover,
.share-buttons li a i:active,
.share-buttons li a i:focus{
    color: #e3981e;
}
.share-buttons > li:first-child {
    margin-left: 0;
    padding: 0;
    vertical-align: top;
}
.share-buttons .tooltip {
    border-radius: 0;
    margin-left: -5px;
    margin-top: 0;
    opacity: 1;
    position: relative;
}
.tooltip.left .tooltip-arrow{
    border-left-color: #666 !important;
}
.share-buttons .tooltip-inner {
    background-color: #666;
    border-radius: 0;
    height: 46px;
    padding: 14px 14px 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
}
.progress-bar-warning {
    background-color: #e3981e;
}
.panel-default .progress{
    height: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.panel-default .table-condensed th, .panel-default .table-condensed td{
    border:none;
    text-align: left;
}
.panel-default .table-condensed th {
    width: 35%;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.panel-default .table-condensed td{
    font-size: 14px;
}
.panel-default .table-condensed thead th {
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
}
.panel-default .table-condensed .text-right {
    text-align: right;
}
.panel-body > table + hr {
    margin-left: -15px;
    width: 110%;
}
.panel-share-buttons {
    margin: 0;
    padding: 0;
    text-align: left;
}
.panel-share-buttons > li {
    display: inline-block;
    margin-right: 20px;
}
.panel-share-buttons > li > a:hover{
    color:#b77a17;
}
.panel-table{
    margin: 0;
}
.panel-table td{
    font-weight: normal;
    font-size: 14px;
}
.panel-table thead th{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.panel-table > thead > tr > th{
    border-width: 1px;
}
.panel-table > tbody > tr > td{
    padding-top: 20px;
    padding-bottom: 20px;
}

.panel-table .political-activity-title{
    width: 46%;
}
.panel-table tfoot .text-center {
    padding-bottom: 0;
    padding-top: 15px;
}


#political-experience .panel-body{
    padding: 35px 35px 0px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 55px;
    bottom: -11px;
    position: absolute;
    content: " ";
    width: 6px;
    background-color: #9299a1;
    left: 50%;
    margin-left: -3px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 38%;
    float: left;
    border: 1px solid #f7e0bb;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #f7e0bb;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #f7e0bb;
    border-right: 0 solid #f7e0bb;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #f7e0bb;
    border-right: 0 solid #f7e0bb;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 50%;
    margin-left: -15px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li > .timeline-badge.small {
    top: 33px;
    width: 18px;
    height: 18px;
    margin-left: -9px;
}
.timeline > li > .date {
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 2.7%;
    float: left;
}
.timeline > li.timeline-inverted > .date {
    float: right;
    margin-right: 3%;
    margin-top: 2.7%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading .updates-meta{
    margin-bottom: 10px;
    color: #e3891e;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline hr{
    border-top: 1px solid #9e9e9e;
}

@media (max-width: 767px) {
    #political-experience .panel-body{
        padding: 20px 40px 0 60px;
    }
    ul.timeline:before {
        left: 50px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 35px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-badge.small{
        left : 50px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline > li > .date {
        margin-left: -4%;
        margin-top: 4.2%;

    }
    .timeline > li.timeline-inverted > .date {
        float: left;
        margin-top: 4.3%;

    }
}

/* Latest projects =========== */
/* ====================================================== */

#otros-proyectos{
    padding: 30px 0;
    background-color: #fbfbfb;
}
h2.underline{
    margin-top: 0;
}

/* Other Profiles =========== */
/* ====================================================== */
#suggested-politicians{
    background-color: #f5f5f5;
    padding: 40px 0;
}
.politician-list .box-ppal{
    min-height: 440px;
}

.card-header-photo img{
    height: 160px;
}
#suggested-politicians cite{
    font-size: 14px;
    margin-bottom: 0;
}
.politician-list .box-ppal p.party{
    font-weight: bold;
    font-size: 12px;
}
.politician-list .box-ppal p{
    margin-bottom:5px;
    height: auto;
}
.politician-list .box-ppal .user{
    margin-bottom: 0px;
    margin-top: -60px;
}
.profile-pic-sm{
    width: 96px;
    position: relative;
    display: inline-block;
}
.politician-list .box-ppal .user .user-img{
    width: 96px;
    height: 96px;
    border: solid #fff 4px;
}
.politician-list .box-ppal .user .fa-check{
    position: absolute;
    bottom: 0px;
    right: 7px;
    background-color: #1e84e3;
    border-radius: 100%;
    color: #fff;
    padding-top: 9px;
    text-align: center;
    font-size: 10px;
    width: 24px;
    height: 24px;
    padding-top: 4px;
    border: #fff solid 2px;
}
.politician-list .box-ppal .user .btn.follow{
    margin: 70px 0 0 0 !important;
    float: right;
    padding: 8px 8px !important;
}
#suggested-politicians .user-name{
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: normal;
}
.politician-list .box-ppal .card-footer{
    position: absolute;
    bottom: 10px;
    left: 10px;

}

.politician-list .box-ppal .card-footer .fa-check-circle-o{
    margin-right: 3px;
}