/* WIDGETS  =============================================================================================================================== */
/* ======================================================================================================================================== */
/*body.widget {padding: 0;}*/
/*body.widget #header{display: none;}*/
/*body.widget > div.container-fluid{margin-top:0px;}*/
/*body.widget #footer section.more{display:none;}*/
body.widget .call-to-action-mobile{display:none;}
