/* WIDGETS  =============================================================================================================================== */
/* ======================================================================================================================================== */
body.widget {padding: 0; font-family: Arial, Helvetica, sans-serif;}
section.widget {width: 100%;}
section.widget header {background-color: #ff9431; padding: 12px; color: #fff; position: relative;}
section.widget.dark header {background-color: #666;}
section.widget header > h1 {font-family: 'Georgia'; font-size: 18px; padding: 0; margin: 0;}
section.widget header > a {color: #fff; text-transform: uppercase;; text-decoration: underline; position: absolute; right: 8px; bottom: 3px; font-size: 9px; font-size: .9rem;}
section.widget footer {text-align: center;text-align: center; height: 40px; margin-bottom: 18px; margin-top: 5px; border-bottom: 1px solid #e1e1e1;}
section.widget footer h1 {margin: 0; padding: 0; text-align: center;}
section.widget footer h1 .navbar-brand {float: none; display: block; margin: 0 auto;}
section.widget footer h1 a img{width:100px;}
section.widget footer a {font-size: 14px; font-size: 1.4rem; color: #545454; text-decoration: none; text-transform: uppercase;}
section.widget footer a:hover,
section.widget footer a:focus {text-decoration: underline;}
section.widget .rating {margin: 5px 0 0 0; width: auto; float: right;}
section.widget .rating fieldset.rating:not(:checked) > label {font-size: 20px; font-size: 2rem;}
section.widget .rating label:hover > .rate-message {display: none;}

section.widget .user-list-followers > li:hover fieldset.rating:not(:checked) > label:before {color: #fff;}
section.widget .user-list-followers > li:hover fieldset.rating > input:checked ~ label:before,
section.widget .user-list-followers > li:hover fieldset.rating > input + label:hover ~ label:before,
section.widget .user-list-followers > li:hover fieldset.rating > input + label:hover:before {color: #ff9431;}

section.widget .user-list-followers {margin: 0 0 5px 0; padding: 0 !important;}
section.widget .user-list-followers > li {height: 52px; border-bottom: 1px solid #f0f0f0; padding: 6px; margin: 0;}
section.widget .user-list-followers > li:hover,
section.widget .user-list-followers > li:focus {background-color: #f0f0f0;}
section.widget .user-list-followers > li > a {float: left; max-width: calc(100% - 130px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
section.widget .user-list-followers > li > a:hover,
section.widget .user-list-followers > li > a:focus {text-decoration: underline;;}

body.widget > header {text-align: center; height: 40px; margin-bottom: 25px; padding-top: 10px; border-top: 1px solid #e1e1e1;}
body.widget > header h1 {margin: 0; padding: 0; text-align: center;}
body.widget > header h1 .navbar-brand {float: none; display: block; margin: 0 auto;}
body.widget > header h1 a img{width:100px;}
body.widget > footer {background-color: #f8f8f8;}
body.widget > footer section.links a {font-size: 12px; font-size: 1.2rem;}

#results-widget-content {padding: 5px;}
#results-widget-content section {border:1px solid #f0f0f0; margin-bottom: 10px;}
/*#results-widget-content #evolution {height: 346px; }*/
#results-widget-content #valuations-widget-content {float: left;}
#results-widget-content #real-time {float: left; background-color: #FFFFFF}
#results-widget-content #real-time .politician-info{}
#results-widget-content #real-time .politician-info ul {padding: 0px;}
#results-widget-content #real-time .politician-info ul li{
    list-style: none;
    /*height: 1em;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    font-size:12px;
    line-height: 20px;
    margin-bottom: 0px;
}
#results-widget-content #real-time .politician-info ul li abbr{border-bottom:none;cursor:auto;}
#results-widget-content #real-time .politician-chart{}
#results-widget-content #real-time .politician-chart h4{ margin:0}
#results-widget-content #real-time .politician-chart h4 .btn{ margin:0; padding: 3px 9px !important; font-size:11px;
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 0px;
}
#results-widget-content #real-time .politician-chart.text-center a{font-variant:normal;font-weight:normal;}
#results-widget-content #real-time .politician-info.text-center h4{font-variant:normal;font-weight:normal;font-size:16px;line-height: 0.5;}
#results-widget-content #real-time .politician-info.text-center h5{color:#a8a8a8;font-weight:bold;font-size:12px;}
#results-widget-content #real-time .politician-info.text-center h6{font-weight:bold;}
#results-widget-content #real-time .politician-info.text-center .btn.btn-blue{padding: 3px 9px !important; font-size:11px;}
#results-widget-content #real-time .politician-info.text-center hr{margin-top:15px;margin-bottom:15px;}


#widget pre {color: #a8a8a8; font-size: 15px; font-size: 1.5rem; height: 80px;}
#widget .modal-header {padding: 15px 15px 5px;}
#widget .modal-body {padding: 10px 20px;}
#widget .close {font-size: 30px;}
#widget .modal-header .close {margin-top: -6px;}

body.widget .poweredByKuorum a{float: right;margin-right: 10px;color: #cccccc;}
body.widget .poweredByKuorum a:hover{text-decoration: underline;}


.widget-user-rating form.rating legend{display: none}
.widget-user-rating form.rating.user-rate legend{display: block}

.widget-user-rating form.rating {display: block}
.widget-user-rating form.rating.user-rate {display:none}
.widget-user-rating form.rating.user-rate {display:none}
.widget-user-rating:hover form.rating {display:none}
.widget-user-rating:hover form.rating.user-rate {display: block}


@media only screen and (max-width: 767px) {
    #results-widget-content #real-time .tab-content{padding: 15px 0 0;}
}