//@import "testDomainVars";

// ************ //
//  CONSTANTS
// ************ //

@desktop:   ~"only screen and (min-width: 992px)";
@tablet:    ~"only screen and (min-width: 768px)";

// ************ //


a,
a:hover,
a:active,
a:focus {color: @mainColor;}

.navbar-toggle {background-color: @mainColor; color: @mainTextColor;}
.open-filter .dropdown-menu > li > a.active {color:@mainColor;}
.login .form-group:last-child p:last-child a {color:@mainColor;}

@import (once,less) url('modules/_buttons.less');
@import (once,less) url('modules/_campaigns.less');
@import (once,less) url('modules/_contacts.less');
@import (once,less) url('modules/_form.less');
@import (once,less) url('modules/_header.less');
@import (once,less) url('modules/_landing.less');
@import (once,less) url('modules/_login.less');
@import (once,less) url('modules/_search.less');
@import (once,less) url('modules/_user.less');
@import (once,less) url('modules/_footer.less');


.box .dropdown-menu > li a {color: @mainColor;}

.box-ppal span.animated-info-icon {color: @mainColor;}
.box-ppal span.animated-info-icon + .tooltip.bottom .tooltip-inner {background-color: @mainColor;}
.box-ppal span.animated-info-icon + .tooltip.bottom .tooltip-arrow {border-bottom-color: @mainColor;}

.actionIcons li > a {color: @mainColor; border-color: @mainColor;}

.important .from {border-bottom-color: @mainColor;}
.author.important .from .inside {border-bottom-color: @mainColor;}
.author.important .user.actor.politic {background-color: @mainColor; color: #ffdb8d;}

#aside-ppal .panel .social li a:hover .fa-inverse,
#aside-ppal .panel .social li a:focus .fa-inverse {color: @mainColor !important;}
#aside-ppal .panel .social li .fa-circle {color: @mainColor !important;}

.notifications-list > li .actions > li > a {color: @mainColor;}

.onecol a {color: @mainColor;}
.steps li.active .badge {background-color: @mainColor;}

.controls a {color: @mainColor;}

.info #main article a,
.info #main article a:hover,
.info #main article a:active,
.info #main article a:focus {color: @mainColor;}

.info #main article blockquote strong {color: @mainColor;}

.config .saldo .activity li {color: @mainColor; border-right-color: @mainColor;}

.config .role .btn.active,
.config .role .btn.active:hover,
.config .role .btn.active:active,
.config .role .btn.active:focus {
    background-color: @mainTextColor !important;
    border-left-color: @mainColor;
    border-right-color: @mainColor;
    border-bottom-color: @mainColor;
    color: @mainColor !important;
}

.config .item ul li h3 span {color: @mainColor;}

.sr-only.first:active,
.sr-only.first:focus {
    background-color: @mainColor;
    color: @mainTextColor;
}

.bg-primary {background-color: @mainColor;}
.cl-primary {color: @mainColor;}
.bg-secondary {background-color: @secondColor;} /* fondo azul */
.cl-secondary {color: @secondColor;} /* color azul */

.progress-bar-warning {background-color: @mainColor;}
.progress-bar {background-color: @secondColor;}

.left-container ul a:hover{color: @mainColor;}

.breadcrumb a {color: @secondColor;}

ul.list > li > ul.list-actions > li > a:hover,
ul.list > li > ul.list-actions > li > a:focus,
ul.list > li > ul.list-actions > li > a:active {color: @secondColor;}

