
@staticUrlRoot: "https://test-kuorumorg.s3.amazonaws.com/domains/local.kuorum.org";
@mainColor: #B277F9;
@mainColorHover:#4F2088;

@secondColor: #A2C120;
@secondColorHover: #819D0E;

@mainTextColor: #fff;