
@staticUrlRoot: "https://test-kuorumorg.s3.amazonaws.com/domains/local.kuorum.org";
@mainColor: #d500f9;
@mainColorHover: #feff0e;

@secondColor: #23c100;
@secondColorHover: #819D0E;

@mainTextColor: #000000;

@warnColor: #990000;

@fontTitle: 'Georgia', 'Times New Roman', Times, serif;
@fontText: "Helvetica Neue", Helvetica,Arial,sans-serif;