

.fade-carousel .slides .slide-1.landingServices { background-image: url("@{staticUrlRoot}/landingSlider/landing-1.jpg");}
.fade-carousel .slides .slide-2.landingServices { background-image: url("@{staticUrlRoot}/landingSlider/landing-2.jpg");}
.fade-carousel .slides .slide-3.landingServices { background-image: url("@{staticUrlRoot}/landingSlider/landing-3.jpg");}
.fade-carousel .content form .form-group.conditions {font-family: @fontTitle;}
.fade-carousel .content h1,
.fade-carousel .content-footer h1{font-family: @fontText}

ul.globus li.fontIcon > a > span.fa,
ul.globus li.fontIcon > a > span.fal,
ul.globus li.fontIcon > a > span.far,
ul.globus li.fontIcon > a > span.fas {color:@mainColor;}
ul.globus li.fontIcon > a > span.fa:hover,
ul.globus li.fontIcon > a > span.fal:hover,
ul.globus li.fontIcon > a > span.far:hover,
ul.globus li.fontIcon > a > span.fas:hover {color:@mainColorHover;}


.section-body a,
.section-header a{
  color: @secondColor;
}
#starredCampaign .starredCampaign-title .starredCampaing-title-text {font-family: @fontText}
#starredCampaign .starredCampaign-title .fal{color:@mainColor}
.participate a:focus {color: @secondColorHover;}
