

.stepsSign li.active,
.stepsSign li.active::before,
.stepsSign li.active::after {background-color: fade(@mainColor, 50%);}


.stepsSign.stepsSignSecondaryColor li.active,
.stepsSign.stepsSignSecondaryColor li.active::before,
.stepsSign.stepsSignSecondaryColor li.active::after {background-color: fade(@secondColor, 50%);}


#login-modal.login .form-group:last-child p:last-child a {color:@secondColor;}
.login .form-group:last-child p:last-child a {color:@mainColor;}