<footer id="footer" class="row" role="contentinfo">
    <div class="container-fluid">
        <section class="links">
            <ul>
                <li><g:link mapping="footerWhatIsKuorum"><g:message code="layout.footer.whatIsKuorum"/></g:link> </li>
                <li><a href="http://kuorumorg.tumblr.com" target="_blank"><g:message code="layout.footer.blog"/></a></li>
                <li><g:link mapping="footerUserGuide"><g:message code="layout.footer.userGuide"/></g:link></li>
                <li><g:link mapping="footerInformation"><g:message code="layout.footer.pressTitle"/></g:link></li>
                <li><g:link mapping="footerOrganizations"><g:message code="layout.footer.organizations"/></g:link></li>
                <li><g:link mapping="footerPoliticians"><g:message code="layout.footer.politicians"/></g:link></li>
                <li><g:link mapping="footerDevelopers"><g:message code="layout.footer.developers"/></g:link></li>
                <li><g:link mapping="footerPrivacyPolicy"><g:message code="layout.footer.privacyPolicy"/></g:link></li>
                <li><g:link mapping="footerTermsUse"><g:message code="layout.footer.termsUse"/></g:link></li>
            </ul>
        </section>
    </div><!-- /.container-fluid - da ancho máximo y centra -->

    <section class="more">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <ul class="social">
                        <li class="hidden-xs"><g:message code="layout.footer.followUs"/></li>
                        <li><a href="https://twitter.com/kuorumorg" target="_blank"><span class="sr-only">Twitter</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-twitter fa-stack-1x"></span></span></a></li>
                        <li><a href="https://www.facebook.com/kuorumorg" target="_blank"><span class="sr-only" target="_blank">Facebook</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-facebook fa-stack-1x"></span></span></a></li>
                        <li><a href="http://www.linkedin.com/company/kuorumorg" target="_blank"><span class="sr-only" target="_blank">LinkedIn</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-linkedin fa-stack-1x"></span></span></a></li>
                        <li><a href="https://plus.google.com/+KuorumOrg" target="_blank"><span class="sr-only" target="_blank">Google+</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-google-plus fa-stack-1x"></span></span></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <g:render template="/layouts/footer/licences"/>
                </div>
            </div>
        </div><!-- /.container-fluid - da ancho máximo y centra -->
    </section>
</footer>


%{--<footer id="footer" class="row" role="contentinfo">--}%
    %{--<div class="container-fluid">--}%
        %{--<section class="row links clearfix">--}%
            %{--<section class="col-xs-12 col-sm-3 col-md-2">--}%
                %{--<h1><g:message code="layout.footer.aboutKuorum"/> </h1>--}%
                %{--<ul>--}%
                    %{--<li><g:link mapping="footerWhatIsKuorum"><g:message code="layout.footer.whatIsKuorum"/></g:link> </li>--}%
                    %{--<li><g:link mapping="footerUsingMyVote"><g:message code="layout.footer.usingMyVote"/></g:link> </li>--}%
                    %{--<li><g:link mapping="footerUserGuide"><g:message code="layout.footer.userGuide"/></g:link> </li>--}%
                    %{--<li><g:link mapping="footerHistories"><g:message code="layout.footer.histories"/></g:link> </li>--}%
                    %{--<li><g:link mapping="footerPurposes"><g:message code="layout.footer.purposes"/></g:link> </li>--}%
                    %{--<li><g:link mapping="footerQuestions"><g:message code="layout.footer.questions"/></g:link> </li>--}%
                %{--</ul>--}%
            %{--</section>--}%
            %{--<section class="col-xs-12 col-sm-3 col-md-2">--}%
                %{--<h1><g:message code="layout.footer.howToParticipate"/></h1>--}%
                %{--<ul>--}%
                    %{--<li><g:link mapping="footerCitizens"><g:message code="layout.footer.citizens"/></g:link></li>--}%
                    %{--<li><g:link mapping="footerOrganizations"><g:message code="layout.footer.organizations"/></g:link></li>--}%
                    %{--<li><g:link mapping="footerPoliticians"><g:message code="layout.footer.politicians"/></g:link></li>--}%
                    %{--<li><g:link mapping="footerDevelopers"><g:message code="layout.footer.developers"/></g:link></li>--}%
                    %{--<li><g:link mapping="footerKuorumStore"><g:message code="layout.footer.kuorumStore"/></g:link></li>--}%
                    %{--<li><a href="http://kuorumorg.tumblr.com" target="_blank""><g:message code="layout.footer.blog"/></a></li>--}%
                %{--</ul>--}%
            %{--</section>--}%
            %{--<section class="col-xs-12 col-sm-3 col-md-2">--}%
                %{--<h1><g:message code="layout.footer.media"/> </h1>--}%
                %{--<ul>--}%
                    %{--<li><a target="_blank" href="http://www.rtve.es/alacarta/audios/las-mananas-de-rne/mananas-rne-kuorumorg-herramienta-para-politicos-escuchen/2795534/">Radio Nacional</a></li>--}%
                    %{--<li><a target="_blank" href="http://www.elconfidencial.com/tecnologia/2013-10-25/kuorum-la-startup-espanola-que-lleva-la-democracia-ciudadana-a-la-red_45787/">El Confidencial</a></li>--}%
                    %{--<li><a target="_blank" href="http://noticias.lainformacion.com/asuntos-sociales/nace-kuorum-una-plataforma-espanola-en-busca-de-una-democracia-2-0_uZLstjDCNoiDnIdNTr1Fk4/">La Información</a></li>--}%
                    %{--<li><a target="_blank" href="http://www.elperiodico.com/es/noticias/reaccionando/articulo-manel-souto-nuevas-herramientas-democraticas-kuorumorg-3012032">El Periódico</a></li>--}%
                    %{--<li><a target="_blank" href="http://www.eldiario.es/turing/Kuorumorg-plataforma-espanola-fomentar-politica_0_301320478.html">El Diario</a></li>--}%
                    %{--<li><a target="_blank" href="http://www.rtve.es/alacarta/videos/para-todos-la-2/para-todos-2-internet/2361227/">La 2</a></li>--}%
                %{--</ul>--}%
            %{--</section>--}%
            %{--<section class="col-xs-12 col-sm-3 col-md-2">--}%
                %{--<h1><g:message code="layout.footer.legal"/></h1>--}%
                %{--<ul>--}%
                    %{--<li><g:link mapping="footerPrivacyPolicy"><g:message code="layout.footer.privacyPolicy"/></g:link></li>--}%
                    %{--<li><g:link mapping="footerTermsUse"><g:message code="layout.footer.termsUse"/></g:link></li>--}%
                    %{--<li><g:link mapping="footerTermsAds"><g:message code="layout.footer.termsAds"/></g:link></li>--}%
                %{--</ul>--}%
            %{--</section>--}%
            %{--<section class="col-xs-12 col-sm-12 col-md-2 col-md-offset-2">--}%
                %{--<div class="row">--}%
                    %{--<div class="col-xs-12 col-sm-3 col-md-12">--}%
                        %{--<h1 class="map"><g:message code="layout.footer.webMap"/> </h1>--}%
                        %{--<ul>--}%
                            %{--<li><g:link mapping="users" params="${kuorum.core.model.UserType.POLITICIAN.encodeAsLinkProperties()}"><g:message code="list.citizens.POLITICIAN.title"/></g:link></li>--}%
                            %{--<li><g:link mapping="projects"><g:message code="list.projects.title"/></g:link></li>--}%
                        %{--</ul>--}%
                    %{--</div>--}%

                    %{--<div class="col-xs-12 col-sm-3 col-md-12">--}%
                        %{--<h1 class="collabor"><g:message code="layout.footer.workingWith"/></h1>--}%
                        %{--<ul class="collabor">--}%
                            %{--<li><a class="ethz" hreflang="en" href="http://www.sg.ethz.ch/" target="_blank">ETHZ (Eidgenössische Technische Hochschule Zürich)</a></li>--}%
                            %{--<li><a class="delhap" hreflang="en" href="http://www.deliveringhappiness.com/" target="_blank">Delivering Happiness</a></li>--}%
                        %{--</ul>--}%

                    %{--</div>--}%

                    %{--<div class="col-xs-12 col-sm-3 col-md-12">--}%
                        %{--<a href="mailto:info@kuorum.org" class="feedback" target="_blank">Contacta con nosotros</a>--}%
                    %{--</div>--}%

                %{--</div>--}%
            %{--</section>--}%
        %{--</section>--}%
    %{--</div><!-- /.container - da ancho máximo y centra -->--}%

    %{--<section class="more">--}%
        %{--<div class="container">--}%
            %{--<div class="col-xs-12 col-sm-8 col-md-8">--}%
                %{--<ul class="social">--}%
                    %{--<li class="hidden-xs"><g:message code="layout.footer.followUs"/></li>--}%
                    %{--<li><a href="https://twitter.com/kuorumorg" target="_blank"><span class="sr-only">Twitter</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-twitter fa-stack-1x"></span></span></a></li>--}%
                    %{--<li><a href="https://www.facebook.com/kuorumorg" target="_blank"><span class="sr-only" target="_blank">Facebook</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-facebook fa-stack-1x"></span></span></a></li>--}%
                    %{--<li><a href="http://www.linkedin.com/company/kuorum" target="_blank"><span class="sr-only" target="_blank">LinkedIn</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-linkedin fa-stack-1x"></span></span></a></li>--}%
                    %{--<li><a href="https://plus.google.com/+KuorumOrg" target="_blank"><span class="sr-only" target="_blank">Google+</span><span class="fa-stack fa-lg"><span class="fa fa-circle fa-stack-2x"></span><span class="fa fa-google-plus fa-stack-1x"></span></span></a></li>--}%
                %{--</ul>--}%
            %{--</div>--}%
            %{--<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">--}%
                %{--<g:render template="/layouts/footer/licences"/>--}%
            %{--</div>--}%
        %{--</div><!-- /.container - da ancho máximo y centra -->--}%
    %{--</section>--}%
%{--</footer>--}%
