<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title><g:message code="page.title.footer.privacyPolicy"/> </title>
<meta name="layout" content="leftMenuLayout">
<parameter name="extraCssContainer" value="info" />
</head>

<content tag="leftMenu">
    <g:render template="leftMenuLegal" model="[activeMapping:'footerPrivacyPolicy']"/>
</content>

<content tag="mainContent">
    <div class="box-ppal">
        <h1><g:message code="layout.footer.privacyPolicy"/></h1>
        <h4><g:message code="footer.menu.footerPrivacyPolicy.subtitle01"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0101"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0102"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0103"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0104"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0105"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0106"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0107"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0108"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0109"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0110"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0111"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerPrivacyPolicy.subtitle02"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0201"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0202"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0203"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0204"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0205"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0206"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0207"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0208"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0209"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0211"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0212"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0213"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0214"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0215"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0216"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0217"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0218"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0226"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0227"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0228"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0229"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0230"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0231"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerPrivacyPolicy.subtitle03"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0301"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0302"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0303"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0304"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0305"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0306"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0307"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0308"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0309"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0310"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0311"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0312"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0313"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0314"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0315"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0316"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0317"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0318"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0319"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0320"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0321"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0322"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0323"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0324"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0325"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0326"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0327"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0328"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0329"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0330"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0331"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0332"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0333"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0334"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerPrivacyPolicy.subtitle04"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0401"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0402"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0403"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0404"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0405"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0406"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0407"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0408"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0409"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0410"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0411"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0412"/>
            </p>
            <li>
                <g:message code="footer.menu.footerPrivacyPolicy.description0413"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerPrivacyPolicy.description0414"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerPrivacyPolicy.description0415"/>
            </li>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description0416"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerPrivacyPolicy.subtitle05"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description051"/>
            </p>
            <p>
                <g:message code="footer.menu.footerPrivacyPolicy.description052"/>
            </p>
        </div>
    </div>
</content>
