<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title><g:message code="page.title.footer.termsUse"/> </title>
    <meta name="layout" content="leftMenuLayout">
    <parameter name="extraCssContainer" value="info" />
</head>

<content tag="leftMenu">
    <g:render template="leftMenuLegal" model="[activeMapping:'footerTermsUse']"/>
</content>

<content tag="mainContent">
    <div class="box-ppal">
        <h1><g:message code="layout.footer.termsUse"/></h1>
        <h4><g:message code="footer.menu.footerTermsUse.subtitle01"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description011"/>
            </p>
            <p>
                <g:message code="footer.menu.footerTermsUse.description012"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle02"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description021"/>
            </p>
            <p>
                <g:message code="footer.menu.footerTermsUse.description022"/>
            </p>
            <p>
                <g:message code="footer.menu.footerTermsUse.description023"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle03"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description031"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle04"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description041"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle05"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description051"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle06"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description0601"/>
            </p>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0602"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0603"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0604"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0605"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0606"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0607"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0608"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0609"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0610"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0611"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0612"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0613"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0614"/>
            </li>
        </br>
            <li>
                <g:message code="footer.menu.footerTermsUse.description0615"/>
            </li>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle07"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description071"/>
            </p>
            <p>
                <g:message code="footer.menu.footerTermsUse.description072"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle08"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description081"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle09"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description091"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle10"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description101"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle11"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description111"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle12"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description121"/>
            </p>
            <p>
                <g:message code="footer.menu.footerTermsUse.description122"/>
            </p>
            <p>
                <g:message code="footer.menu.footerTermsUse.description123"/>
            </p>
            <p>
                <g:message code="footer.menu.footerTermsUse.description124"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle13"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description131"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle14"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description141"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle15"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description151"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle16"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description161"/>
            </p>
        </div>

        <h4  class="border"><g:message code="footer.menu.footerTermsUse.subtitle17"/></h4>
        <div class="columns1">
            <p>
                <g:message code="footer.menu.footerTermsUse.description171"/>
            </p>
        </div>
    </div>
</content>
